<div class="container">
  <h1 class="text" (click)="toggleInfo1()">
    <span [innerHTML]="showInfo1 ? '&#x25bc;' : '&#x25ba;'"></span>
    Информация за мен 
  </h1>
  <div *ngIf="showInfo1">
    <p>{{ info1 }}</p>
  </div>

  <h1 class="text" (click)="toggleInfo2()">
    <span [innerHTML]="showInfo2 ? '&#x25bc;' : '&#x25ba;'"></span>
    Хобита и интереси
  </h1>
  <div *ngIf="showInfo2">
    <p>{{ info2 }}</p>
  </div>

  <h1 class="text" (click)="toggleInfo3()">
    <span [innerHTML]="showInfo3 ? '&#x25bc;' : '&#x25ba;'"></span>
    Линк към канал на любим content creator
  </h1>
  <div *ngIf="showInfo3">
    <p>{{ info3 }}</p>
  </div>

  <h1 class="text" (click)="toggleInfo4()">
    <span [innerHTML]="showInfo4 ? '&#x25bc;' : '&#x25ba;'"></span>
    Информация за моя канал
  </h1>
  <div *ngIf="showInfo4">
    <p>{{ info4 }}</p>
  </div>
</div>

